body {
  background: black;
  background: url("../src/components/assets/Bg.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: 100% 100%;
}

::-webkit-scrollbar {display: none;};
